.backing-thing {
  background-color: rgb(212, 212, 212) !important;
  background-image: url(./Img/Cosmos.jpg);
  background-repeat: none;
  background-attachment: fixed;
}
.Card-Style {
  width: 35%;
  margin: 1em;
}
.Card-Container {
  margin: auto;
}
.image-size {
  background: black;
  border-radius: 5px;
  height: 200px;
  object-fit: contain;
}
.my-flex{
 width: 100%;
}
.my-flex > div:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.my-butt {
  margin: 3em 0;
  background: #198754;
  border: none;
}
.News-Headding {
  padding: 2em 1em 1em;
  color: white;
  font-size: 3em;
  text-decoration: underline;
}
@media (max-width: 861px){
  .my-flex > div:first-child{
    flex-direction: column;    
    width: 100%;
    margin: auto;
  }
  .Card-Style {
    width: 85%;
    align-items: center;
    margin: auto;
    margin-top: 2em;
  }
}